/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #000000;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  padding: 10px;
}
.button {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.card-container-white {
  background-color: #ffffff;
  border: #000000 1px solid;
}
.heading-block {
  color: #000000;
}
